APPIUM_URL=http://127.0.0.1:4723/
APPIUM_PLATFORM_NAME=Android
APPIUM_DEVICE_NAME=Android Emulator
APPIUM_AUTOMATION_NAME=UiAutomator2
APPIUM_APP_PATH=C:/Users/USER/AndroidStudioProjects/Kelarin/app/build/outputs/apk/debug/app-debug.apk